# Node
node_modules/
dist/
.env

# Java
target/
*.class

# IDE
.idea/
*.iml

# Mobile
.expo/
android/
ios/

# Logs
*.log

# OS
.DS_Store

# Test
test-reports/

# Documentos
*.docx
backend/codigo_proyecto_20260503_194030.txt
backend/src/test/java/com/requirementmaster/backend/e2e/ApiFlowTest.java
backend/src/test/java/com/requirementmaster/backend/integration/web/ActivityControllerIntegrationTest.java
backend/src/test/java/com/requirementmaster/backend/integration/persistence/JpaUserRepositoryTest.java
backend/src/test/java/com/requirementmaster/backend/integration/web/AuthControllerIntegrationTest.java
backend/src/test/java/com/requirementmaster/backend/unit/application/ActivityServiceImplTest.java
backend/src/test/java/com/requirementmaster/backend/unit/application/AuthServiceImplTest.java
backend/src/test/java/com/requirementmaster/backend/unit/domain/entities/LessonTest.java
